<!DOCTYPE html>
<html lang="en" ng-app="RegApp">

<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body ng-cloak>
    <div class="col-sm-2 col-lg-4"></div>
    <div ng-controller="RegistrationCtrl as ctrl" class="col-sm-8 col-lg-4 registration-page">
        <h1> Registration </h1>
        <form name="registrationForm" ng-submit="registrationForm.$valid && ctrl.registerUser()" novalidate>
            <div class="form-group">
                <label for="email">Email address</label>
                <input id="email" name="email" type="email" placeholder="you@domain.com" class="form-control" 
                ng-model="ctrl.user.email" required /> {{ ctrl.displayUser.email }}
                <div class="validation" data-ng-show="registrationForm.email.$touched || registrationForm.$submitted" >
                    <div data-ng-show="registrationForm.email.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>&nbsp Email is mandatory.
                    </div>
                    <div data-ng-show="registrationForm.email.$error.email">
                        <span class="glyphicon glyphicon-alert"></span>&nbsp Email is invalid.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" class="form-control" 
                    ng-model="ctrl.user.password" 
                    minlength="8" 
                    required 
                    ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/" />
                <div class="validation" data-ng-show="registrationForm.password.$touched || registrationForm.$submitted" >
                        <div data-ng-show="registrationForm.password.$error.required">
                            <span class="glyphicon glyphicon-alert"></span>&nbsp Password is mandatory.
                        </div>
                        <div data-ng-show="registrationForm.password.$error.minlength">
                            <span class="glyphicon glyphicon-alert"></span>&nbsp Password must be at least 8 character long. 
                        </div>
                        <div data-ng-show="registrationForm.password.$error.pattern">
                            <span class="glyphicon glyphicon-alert"></span>&nbsp Password must include a number, 
                            a special character (@,#,$) and both upper and lower cases. 
                        </div>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input id="confirmPassword" name="confirmPassword" type="password" 
                class="form-control" 
                required ng-required="ctrl.user.password"
                ng-model="ctrl.user.confirmPassword"
                />
                <div class="validation" 
                data-ng-show="registrationForm.confirmPassword.$touched || registrationForm.$submitted" >
                    <!--
                    <div data-ng-show="registrationForm.confirmPassword.$untouched ">
                            <div data-ng-show="registrationForm.confirmPassword.$error.required">
                                <span class="glyphicon glyphicon-alert"></span>&nbsp Confirm Password is mandatory.
                            </div>
                    </div>
                    //-->
                    <div data-ng-show="registrationForm.confirmPassword.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>&nbsp Confirm Password is mandatory.
                    </div>
            
                     <div data-ng-show="ctrl.user.password != ctrl.user.confirmPassword">
                        <span class="glyphicon glyphicon-alert"></span>&nbsp Password do not match. 
                    </div>
                        
                </div>
            </div>
            <div class="form-group">
                <label for="fullname">Full Name</label>
                <input id="fullname" name="fullname" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <br/>
                <input id="gender" name="gender" type="radio" value="M" ng-model=ctrl.user.gender /> Male
                <br/>
                <input id="gender" name="gender" type="radio" value="F" ng-model=ctrl.user.gender ng-checked="true" /> Female
                <br/>
                 
                <div class="validation" data-ng-show="ctrl.user.gender == 'M' || 
                    registrationForm.gender.$touched && ctrl.onlyFemale() == false">
                    <span class="glyphicon glyphicon-alert"></span>&nbsp Please select Female.
                </div>
                
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Date of Birth</label>
                <input id="dateOfBirth" name="dateOfBirth" type="date" class="form-control" 
                
                ng-model=ctrl.user.dateOfBirth 
                required/>
                <div class="validation" 
                data-ng-show="registrationForm.dateOfBirth.$touched || registrationForm.$submitted">
                    <div>
                        <div data-ng-show="registrationForm.dateOfBirth.$error.required">
                            <span class="glyphicon glyphicon-alert"></span>&nbsp Date of Birth is mandatory.
                        </div>
                    </div>
                    <div data-ng-show="registrationForm.dateOfBirth.$touched && 
                        ctrl.calculateAge(ctrl.user.dateOfBirth) == false">
                        <span class="glyphicon glyphicon-alert"></span>&nbsp You are too young to register!
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input id="address" name="address" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label for="nationality">Nationality</label>
                <select class="form-control" id="nationality">
                <option value="1">Singaporean</option>
                <option value="2">Malaysian</option>
                <option value="3">Thai</option>
            </select>
            </div>
            <div class="form-group">
                <label for="contactNumber">Contact number</label>
                <input id="contactNumber" name="contactNumber" type="text" class="form-control" 
                ng-model="ctrl.user.contactNumber" 
                required 
                maxlength="8"
                ng-pattern="/\d{8}/" 
                />
                <div class="validation" 
                    data-ng-show="registrationForm.contactNumber.$touched || 
                    registrationForm.$submitted" >
                    
                    <div data-ng-show="registrationForm.contactNumber.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>&nbsp Contact number is mandatory.
                    </div>
            
                     <div data-ng-show="registrationForm.contactNumber.$error.pattern">
                        <span class="glyphicon glyphicon-alert"></span>&nbsp Contact number invalid. 
                    </div>
                        
                </div>
            </div>
            <div class="form-group">
                <hr/>
                <input id="submit" name="submit" type="submit" class="btn btn-success" />
            </div>
        </form>
    </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>